[submodule "GCEngine/GCEngine\\vendor\\spdlog"]
	path = GCEngine/GCEngine\\vendor\\spdlog
	url = https://github.com/gabime/spdlog
[submodule "GCEngine/vendor/GLFW"]
	path = GCEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "GCEngine/vendor/imgui"]
	path = GCEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
[submodule "GCEngine/vendor/imgui_latest"]
	path = GCEngine/vendor/imgui_latest
	url = https://github.com/ocornut/imgui
[submodule "GCEngine/vendor/glm"]
	path = GCEngine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "GCEngine/vendor/yaml-cpp"]
	path = GCEngine/vendor/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp
[submodule "GCEngine/vendor/ImGuizmo"]
	path = GCEngine/vendor/ImGuizmo
	url = https://github.com/thecherno/imguizmo
[submodule "GCEngine/vendor/Box2D"]
	path = GCEngine/vendor/Box2D
	url = https://github.com/theCherno/box2d
